@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DolomanPavljenko";
    src: url("$lib/fonts/DolomanPavljenko.otf");
}

@font-face {
    font-family: "Mariupol";
    src: url("$lib/fonts/Mariupol-Regular.ttf");
}

@layer components {
    h1 {
        @apply text-3xl text-white text-center font-mariupol;
    }

    h2 {
        @apply text-2xl text-white text-center font-mariupol;
    }

    h3 {
        @apply text-xl text-white text-center font-mariupol;
    }

    .form-error {
        @apply text-white text-lg;
    }

    .btn-white {
        @apply border-2 p-1 text-white text-lg border-white;
    }

    .btn-black {
        @apply border-stone-900 border-2 text-stone-900 p-1 text-lg;
    }
}
